.banner-history{
    height:415px;
    width:100%;
    padding:10px;
    margin-bottom:20px;
    background-image:url(../kp_website_desktop/images/banner-contact.jpg);
    object-fit:cover;
    background-repeat:no-repeat;
    background-position:center;
  }

.bannerquote-about{
    color:#ffffff;
    margin-top:298px;
    margin-left:100px;
    padding:50px 20px 20px 0px;
    font-size:38px;
    font-weight:bold;
    line-height:38px;
    letter-spacing:normal;
    float:left;
  }

  /* contact section*/
  #sidebar-contact{
    height:300px;
    padding-right:150px;
    padding-top:100px;
    padding-bottom:105px;
    float:right;
  }

    #getintouch{
    font-size:105%;
    float:left;
    padding-bottom:50px;
  }
  
  h10{
    float:left;
    margin-left:120px;
    margin-top:100px;
    width:50%;
    font-size:200%;
    font-weight:normal;
    color:#215f86;
  }

  h9{
    float:left;
    margin-left:120px;
    margin-top:30px;
    margin-bottom:3px;
    width:50%;
    font-size:200%;
    font-weight:normal;
    color:#215f86;
  }
  
  p3{
    float:left; 
    margin-left:120px;
    font-family:mr-eaves-modern, sans-serif;
    font-size:150%;
    font-weight:normal;
    word-spacing:3px;
    color:#9dc2dd;
}

p5{
    float:left; 
    margin-top:150;
    font-family:mr-eaves-modern, sans-serif;
    font-size:150%;
    font-weight:normal;
    word-spacing:3px;
    color:#9dc2dd;
}